/*-----------------------------------------------------------------------------------
iPhone
-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 750px) {

	/*-----------------------------------------------------------------------------------
	WordPress Defaults
	-----------------------------------------------------------------------------------*/

	.alignnone {
	    margin: 0 auto;
	    max-width: 100%;
	    position: relative;
	}
	
	.aligncenter,
	div.aligncenter {
	    margin: 0 auto;
	    max-width: 100%;
	    position: relative;
	}
	
	a img.alignnone {
	    margin: 0 auto;
	}
	
	a img.aligncenter {
	    margin: 0 auto;
	}
	
	.wp-caption p.wp-caption-text {
		display: none;
	}
	
	/*-----------------------------------------------------------------------------------
	Header
	-----------------------------------------------------------------------------------*/

	#header,
	.page-template-template-home-php #header {
		width: 100%;
	}

	#header .logo {
		float: none;
		margin: 0 auto 40px auto!important;
		text-align: center;
	}

	/*-----------------------------------------------------------------------------------
	Navigation
	-----------------------------------------------------------------------------------*/
	
	a.tj-mobile-menu {
		display: block;
	}
	
	#header nav {
		display: none;
	}
	
	#tj-mobile-menu nav {
		max-width: 75%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Home
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-home-php .tj-home-slider .entry-content {
		width: 95%;
		left: 2.5%;
		bottom: 0;
	}
	
	.page-template-template-home-php .tj-home-slider .entry-content h1, 
	.page-template-template-home-php .tj-home-slider .entry-content h2, 
	.page-template-template-home-php .tj-home-slider .entry-content h3, 
	.page-template-template-home-php .tj-home-slider .entry-content h4, 
	.page-template-template-home-php .tj-home-slider .entry-content h5, 
	.page-template-template-home-php .tj-home-slider .entry-content h6 {
		font-size: 1.4em;
	}
	
	.page-template-template-home-php .tj-home-slider .tj-direction-nav {
		display: none;
	}
	
	.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-prev {
		left: 20px;
	}
	
	.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-next {
		right: 20px;
	}
	
	.tj-gallery-wrapper {
		padding: 35px 0 35px 0;
	}
	
	.tj_gallery_message {
		padding: 0 0 37px 0;
	}
	
	.tj-gallery-content {
		max-width: 90%;
	}

	.tj-gallery	{
		margin: 0 auto;
	}
	
	.tj-gallery article {
		max-width: 220px;
		width: 47.5%;
		margin: 0 5% 4% 0;
	}
	
	.tj-gallery .gallery-hero, 
	.tj-gallery .gallery-hero a {
		width: 100%;
		height: 100%;
	}
	
	.tj-gallery article:nth-child(2),
	.tj-gallery article:nth-child(4),
	.tj-gallery article:nth-child(6),
	.tj-gallery article:nth-child(8),
	.tj-gallery article:nth-child(10),
	.tj-gallery article:nth-child(12) {
		margin-right: 0;
	}
	
	.tj-home-testimonials-slider .tj-testimonial-direction-nav {
		display: none;
	}

	.tj-home-testimonials .entry-content p {
		font-size: 98%;
	}
	
	/*-----------------------------------------------------------------------------------
	Gallery - Paginated
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-gallery-php article.page {
		width: 90%;
	}
	
	/*-----------------------------------------------------------------------------------
	Gallery - Filtered
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-gallery-filtered-php article.page {
		width: 95%;
	}
	
	.page-template-template-gallery-filtered-php .tj-gallery-content {
		max-width: 95%;
	}
	
	.page-template-template-gallery-filtered-php .tj-gallery {
		margin: 0 auto;
	}
	
	#sort-by {
		margin: 40px auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Single Gallery
	-----------------------------------------------------------------------------------*/
	
	.single.single-gallery #primary {
		width: 100%!important;
	}
	
	.tj-cpt-gallery {
		margin: 0 auto;	
	}
	
	.tj-cpt-gallery article.gallery {
		width: 95%;
	}
	
	.single-gallery-media {
		width: 95%;
		margin: 0 auto;	
	}
	
	.tj-image-description {
		width: 95%;
		margin: 0 auto;	
	}
	
	.tj-image-caption {
		display: none;
	}
	
	.single-gallery .pagination-gallery {
		display: none;
	}
	
	.single-gallery-meta {
		width: 45%;
		margin: 0 5% 0 0;
	}
	
	/*-----------------------------------------------------------------------------------
	Blog Posts
	-----------------------------------------------------------------------------------*/
	
	.blog #primary,
	.single #primary,
	.archive #primary,
	.search #primary {
		width: 93%;
	} 
	
	.tj-gallery-nav {
		display: none;
	}
	
	.tj-direction-nav li a.tj-next {
		right: 0;
	}
	
	.tj-direction-nav li a.tj-prev {
		left: 0;
	}
	
	/*-----------------------------------------------------------------------------------
	Single Gallery
	-----------------------------------------------------------------------------------*/
	
	.single-gallery-media .tj-direction-nav li a.tj-next {
		right: 10px;
	}
	
	.single-gallery-media .tj-direction-nav li a.tj-prev {
		left: 10px;
	}
	
	/*-----------------------------------------------------------------------------------
	Blog Posts Comments
	-----------------------------------------------------------------------------------*/

	.commentlist .depth-1,
	.commentlist .depth-2,
	.commentlist .depth-3,
	.commentlist .depth-4,
	.commentlist .depth-5,
	.commentlist .depth-6 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Navigation
	-----------------------------------------------------------------------------------*/
	
	.pagination-default {
		max-width: 90%;
	}
	
	/*-----------------------------------------------------------------------------------
	Widgets
	-----------------------------------------------------------------------------------*/
	
	.footer-widget-left, 
	.footer-widget-right {
		width: 90%;
		margin: 0 auto;
		float: none;
		display: inline-block;
		clear: both;
	}
	
	.tj_flickr_widget {
		overflow: hidden;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Default
	-----------------------------------------------------------------------------------*/
	
	.page-template-default article.page {
		max-width: 90%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Full Width
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-page-full-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Contact
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-contact-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}
	
	
	/*-----------------------------------------------------------------------------------
	Shortcodes
	-----------------------------------------------------------------------------------*/
	
	.page-template-default .tj-toggle-inner {
		width: 90.5%!important;
	}
}

/*-----------------------------------------------------------------------------------
iPad
-----------------------------------------------------------------------------------*/

@media screen and (min-width: 751px) and (max-width: 970px) {

	body {
		font-size: 94%;
	}

	/*-----------------------------------------------------------------------------------
	Header
	-----------------------------------------------------------------------------------*/
	
	#header {
		max-width: 728px;
	}
	
	/*-----------------------------------------------------------------------------------
	Navigation
	-----------------------------------------------------------------------------------*/
	
	a.tj-mobile-menu {
		display: block;
	}
	
	#header nav {
		display: none;
	}
	
	#tj-mobile-menu nav {
		max-width: 75%;
	}
	
	/*-----------------------------------------------------------------------------------
	Footer
	-----------------------------------------------------------------------------------*/
	
	.footer-widgets {
		max-width: 728px;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Home
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-home-php .tj-home-slider .entry-content {
		width: 80%;
		left: 10%;
	}
	
	.page-template-template-home-php .tj-home-slider .entry-content h1,
	.page-template-template-home-php .tj-home-slider .entry-content h2,
	.page-template-template-home-php .tj-home-slider .entry-content h3,
	.page-template-template-home-php .tj-home-slider .entry-content h4,
	.page-template-template-home-php .tj-home-slider .entry-content h5,
	.page-template-template-home-php .tj-home-slider .entry-content h6 {
		font-size: 2em;
		letter-spacing: 10px;
	}
	
	.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-prev {
		left: 20px;
	}
	
	.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-next {
		right: 20px;
	}
	
	.tj-home-slider,
	.tj-home-slider .slides li,
	.tj-home-slider-img img {
		max-height: auto!important;
	}
	
	.tj-gallery-content {
		max-width: 100%;
	}

	.tj-gallery	{
		max-width: 680px;
		margin: 0 auto;
	}
	
	.tj-gallery article {
		width: 27.34375%;
		margin: 0 8.98438% 4% 0;
	}
	
	.tj-gallery .gallery-hero, 
	.tj-gallery .gallery-hero a {
		width: 100%;
		height: 100%;
	}
	
	.tj-gallery article:nth-child(3),
	.tj-gallery article:nth-child(6),
	.tj-gallery article:nth-child(9) {
		margin-right: 0;
	}
		
	/*-----------------------------------------------------------------------------------
	Page Template - Gallery Filtered
	-----------------------------------------------------------------------------------*/

	.page-template-template-gallery-filtered-php .tj-gallery {
		margin: 0 auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Standard
	-----------------------------------------------------------------------------------*/
	
	.page-template-default article.page {
		width: 90%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Page Full Width
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-page-full-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}
	
	.page-template-template-page-full-php article.page .entry-content {
		max-width: 100%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Contact
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-contact-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Single Gallery
	-----------------------------------------------------------------------------------*/
	
	.single-gallery-media {
		max-width: 90%;
	}
	
	.single-gallery-media .tj-direction-nav li a.tj-next {
		right: 10px;
	}
	
	.single-gallery-media .tj-direction-nav li a.tj-prev {
		left: 10px;
	}
	
	/*-----------------------------------------------------------------------------------
	Blog Posts
	-----------------------------------------------------------------------------------*/
	
	article.post {
		width: 90%;
	}
	
	.alignnone {
		max-width: 140%;
		margin: 6px -20%;
	}
	
	.tj-direction-nav li a.tj-next {
		right: 0;
	}
	
	.tj-direction-nav li a.tj-prev {
		left: 0;
	}
	
	/*-----------------------------------------------------------------------------------
	Widgets
	-----------------------------------------------------------------------------------*/
	
	.tj_flickr_widget {
		overflow: hidden;
	}
	
}

/*-----------------------------------------------------------------------------------
iPad 1
-----------------------------------------------------------------------------------*/

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1){

	/*-----------------------------------------------------------------------------------
	Page Template - Single Gallery
	-----------------------------------------------------------------------------------*/
	
	.single-gallery-media {
		max-width: 90%;
	}
	
	.tj-direction-nav li a.tj-next {
		right: 10px;
	}
	
	.tj-direction-nav li a.tj-prev {
		left: 10px;
	}

}

/*-----------------------------------------------------------------------------------
Small Monitor
-----------------------------------------------------------------------------------*/

@media screen and (min-width: 970px) and (max-width: 1178px) {

	/*-----------------------------------------------------------------------------------
	Header
	-----------------------------------------------------------------------------------*/
	
	#header {
		max-width: 95%;
	}
	
	/*-----------------------------------------------------------------------------------
	Footer
	-----------------------------------------------------------------------------------*/
	
	.footer-widgets {
		max-width: 1024px;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Home
	-----------------------------------------------------------------------------------*/
	
	.tj-gallery-content {
		max-width: 100%;
	}

	.tj-gallery	{
		max-width: 936px;
		margin: 0 auto;
	}
	
	.tj-gallery article {
		width: 21.48438%;
		margin: 0 4.6875% 40px 0;
	}
	
	.tj-gallery .gallery-hero, 
	.tj-gallery .gallery-hero a {
		width: 100%;
		height: 100%;
	}
	
	.tj-gallery article:nth-child(4),
	.tj-gallery article:nth-child(8),
	.tj-gallery article:nth-child(12) {
		margin-right: 0;
	}
	
	/*-----------------------------------------------------------------------------------
	Single Gallery
	-----------------------------------------------------------------------------------*/
	
	.single-gallery-media .tj-direction-nav li a.tj-next {
		right: 10px;
	}
	
	.single-gallery-media .tj-direction-nav li a.tj-prev {
		left: 10px;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Gallery Filtered
	-----------------------------------------------------------------------------------*/

	.page-template-template-gallery-filtered-php .tj-gallery {
		margin: 0 auto;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Page Full Width
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-page-full-php article.page .entry-content {
		max-width: 1024px;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Standard
	-----------------------------------------------------------------------------------*/
	
	.page-template-default article.page {
		width: 90%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Page Full Width
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-page-full-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}
	
	.page-template-template-page-full-php article.page .entry-content {
		max-width: 100%;
	}
	
	/*-----------------------------------------------------------------------------------
	Page Template - Contact
	-----------------------------------------------------------------------------------*/
	
	.page-template-template-contact-php article.page {
		max-width: 90%;
		margin: 0 auto;
	}

}