/*-----------------------------------------------------------------------------------	

Theme Name: Carajillo	
Theme URI: http://www.themejug.com/theme/carajillo
Description: A responsive, retina ready WordPress theme perfect for photographers and visual artists.
Author: ThemeJug	
Author URI: http://www.ThemeJug.com	
License: GNU General Public License version 3.0	
License URI: http://www.gnu.org/licenses/gpl-3.0.html

Version: 1.0.1

All files, unless otherwise stated, are released under the GNU General Public License	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)

-----------------------------------------------------------------------------------
	00.	CSS Reset
	01.	WordPress Core	
	02.	Body Defaults	
	03. Header	
	04. Blog Posts
	05. Single Post
	06. Pagination
	07. Comment List
	08. Comment Form
	09. Page Template - Default
	10. Page Template - Full Width
	11. Page Template - Contact
	12. Page Template - Home
	13. Gallery Items
	14. Page Template - Gallery
	15. Page Template - Gallery Filtered
	16. Page Template - Single Gallery
	17. Gallery Taxonomy
	18. Page Template - Search
	19. Custom TJ Widgets
	20. Footer
	21. ThemeJug Shortcodes
	
-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------
00.	CSS Reset - http://meyerweb.com/eric/tools/css/reset/
-----------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: " "; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/*-----------------------------------------------------------------------------------
01. WordPress Core
-----------------------------------------------------------------------------------*/

.alignnone {
    margin: 6px -36.5% 3px -36.5%;
    max-width: 900px;
    position: relative;
}

.aligncenter,
div.aligncenter {
    margin: 6px -36.5% 3px -36.5%;
    max-width: 900px;
    position: relative;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 6px -36.5% 3px -36.5%;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    margin: 6px -36.5% 3px -36.5%;
}

.wp-caption {
    background: transparent;
   	position: relative;
}

.wp-caption.alignnone {
    
}

.wp-caption.alignleft {
  
}

.wp-caption.alignright {
    
}

.wp-caption img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption p.wp-caption-text {
    position: absolute;
    bottom: 30px;
    right: 41px;
    background: rgba(0,0,0,0.6);
    padding: 0.5em 1em;
    font-size: 0.750em;
    text-transform: uppercase;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sticky {}
.bypostauthor {}
.gallery-caption{}

/* Default Search */

#searchform input[type="text"] {
	margin: 2.2em 0 0 0;
	padding: 1.5em;
	position: relative;
	border: 1px solid #f1f1f1;
	outline: none;
	width: 95%;
	padding: 0.75em;
	font-size: 0.875em;
	line-height: 2.2857em;
	color: #5e5e5e;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
}

#searchform input[type="text"]:focus {
	opacity: 0.6;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

/* Make sure videos and embeds fit their containers. */

embed,
iframe,
object,
video {
	max-width: 100%;
}

/*-----------------------------------------------------------------------------------
02. Body Defaults
-----------------------------------------------------------------------------------*/

html,
body {
	min-height: 100%;
}

body {
	font: 400 16px/1.5em 'Lato', sans-serif;
	background: #F5F5F5;
	color: #5e5e5e;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-animation: fadein 0.1s 0s ease-out;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

img {
	max-width: 100%;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

a,
a img {
	text-decoration: none;
	outline: none;
}

a {
	-webkit-transition: 0.2s color ease-in-out;
	-moz-transition: 0.2s color ease-in-out;
	-o-transition: 0.2s color ease-in-out;
	transition: 0.2s color ease-in-out;
}

p {
	font-size: 1em;
	line-height: 2em;
	margin: 1.5em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color: #000;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 1.5em;
	line-height: 1.33em;
	margin: 1.33em 0 0 0;
}

h2 {
	font-size: 1.375em;
	line-height: 1.4545em;
	margin: 1.4545em 0 0 0;
}

h3 {
	font-size: 1.25em;
	line-height: 1.6em;
	margin: 1.6em 0 0 0;
}

h4 {
	font-size: 1.125em;
	line-height: 1.7778em;
	margin: 1.2222em 0;
}

h5 {
	font-size: 1em;
	line-height: 2em;
	margin: 2em 0 0 0;
}

h6 {
	font-size: 0.875em;
	line-height: 2.2857em;
	margin: 1.6923em 0 0 0;
}

pre {
	margin: 1.5em auto;
	padding: 1.5em 1.5em;
	background: #fff;
	font-size: 0.875em;
}

hr {
	border: 0;
	height: 1px;
}

#content {
	width: 100%;
	margin: 0 auto 0 auto;
}

#primary {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/*-----------------------------------------------------------------------------------
03. Header
-----------------------------------------------------------------------------------*/

.header-wrap {
	background: #fff;
	width: 100%;
}

#header {
	position: relative;
    margin: 0 auto 74px auto;
    padding: 20px 0;
    max-width: 1120px;
    z-index: 99;
}

/* Header Logo */

.logo {
	float: left;
}

.logo h1 {
	margin: 0;
	padding: 0;
}

.logo h1 a{ 
	color: #fff;
}

/* Header Menu */

.tj-mobile-menu {
	display: none;
}

#header nav {
    float: right;
    font-size: 0.750em;
    line-height: 2.2857em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

#header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#header nav ul li {
	padding: 1px 0;
	text-align: center;
	float: left;
	position: relative;
}

#header nav ul li.last-menu-item a {
	padding-right: 0;
	background: none;
}

#header nav ul li:hover { 
	visibility: inherit; 
}

#header nav ul li a {
	color: #000;
	padding: 1px 35px;
}

#header nav ul li a:last-child {
	padding-right: 0;
}

#header nav ul li a:hover {
	color: #3fcca4;
}

#header nav ul ul {
	position: absolute;
	top: -9999em;
	width: 180px;
	font-weight: normal;
}

#header nav ul ul li { 
	width: 100%; 
}

#header nav ul li .sep {
	position: absolute;
	top: 30px;
	right: -3px;
	color: #aeaeae;
}

#header nav ul li:last-child .sep,
#header nav ul li.last .sep,
#header nav ul ul .sep { 
	display: none;
}

#header nav ul li:hover ul,
#header nav ul li.sfHover ul {
	left: 34px;
	top: 30px;
	z-index: 99;
	width: 180px;
}

#header nav ul li:hover li ul,
#header nav ul li.sfHover li ul,
#header nav ul li li:hover li ul,
#header nav ul li li.sfHover li ul,
#header nav ul li li li:hover li ul,
#header nav ul li li li.sfHover li ul { 
	top: -9999em; 
}

#header nav ul li li:hover ul,
#header nav ul li li.sfHover ul,
#header nav ul li li li:hover ul,
#header nav ul li li li.sfHover ul,
#header nav ul li li li li:hover ul,
#header nav ul li li li li.sfHover ul {
	left: 180px;
	top: -1px;
}

#header nav ul li.current-cat a,
#header nav ul li.current_page_item a,
#header nav ul li.current-menu-item a {
	text-decoration: none;
	color: #3fcca4;
}

/* Submenu Level 1 */

#header nav ul ul {
	letter-spacing: 0;
	padding: 0;
	background: #fff;
	padding: 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#header nav ul ul li {
	text-align: left;
	float: none;
	background: none;
	margin: 10px 0;
	padding: 0;
}

#header nav ul ul li:first-child { 
	padding-top: 10px; 
}

#header nav ul ul li:last-child { 
	padding-bottom: 10px; 
}

#header nav ul ul li a {
    color: inherit;
}

#header nav ul li.sfHover ul a { 
	padding: 0;
	color: inherit;
	text-transform: none;
}

#header nav ul li.sfHover ul a:hover { 
	color: #3fcca4;	
	border-bottom: none;
	font-weight: 700;
}

#header nav ul ul ul {
	padding-top: 5px;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

#header nav ul li a.sf-with-ul {
	padding-right: 0;
}

.sf-sub-indicator {
	background: url('img/drops.png') no-repeat center center transparent;
	background-size: 7px 7px;
	display: inline-block;
	margin-left: 5px;
	text-indent: -999em;
}

/* Mobile Menu Theme */

#tj-mobile-menu {
	display: none;
	width: 100%;
	background-color: #000;
	z-index: 99;
	position: relative;
	padding: 2.5% 0 0 0;
	font-size: 0.875em;
}

#tj-mobile-menu nav {
	max-width: 90%;
	margin: 60px auto 0 auto;
}

#tj-mobile-menu ul li a {
	margin: 0 0 0.75em 0;
	padding: 0 0 0.75em 0;
	display: block;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid #333;
	
}

#tj-mobile-menu ul > li:last-child {
	border-bottom: none;
}

#tj-mobile-menu ul > li > ul > li a {
	padding-left: 1.5em;
}

#tj-mobile-menu ul > li > ul > li > ul > li a {
	padding-left: 3em;
}

#tj-mobile-menu ul li.last-menu-item a {
	border-bottom: none;
}

a.tj-mobile-menu {
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
	background: #000 url(img/menu_ico.png) no-repeat center center;
	background-size: 24px 12px;
	width: 40px;
	height: 40px;
	display: none;
	z-index: 9999;
}

/*-----------------------------------------------------------------------------------
04. Blog Posts
-----------------------------------------------------------------------------------*/

/* Post - Content */

article.post {
	width: 100%;
	margin: 0 auto  60px auto;
	padding: 0 0 0 0;
	clear: both;
}

#primary article.post:last-child {
	margin-bottom: 0;
}

.blog .entry-content,
.single .entry-content,
.archive .entry-content,
.search .entry-content {
	max-width: 520px;
	margin: 0 auto;
}

.entry-content a {
	color: #152B3C;
	text-decoration: underline;
}

.entry-content a:hover {
	color: #3fcca4
}

/* Post - Featured Image */

.blog-hero {
	max-width: 900px;
	margin: 40px auto 3px auto;
	text-align: center;
	clear: both;
}

.blog-hero img:hover {
	opacity: 0.9;
}

.blog-hero img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Post - Title */

.entry-title {
	max-width: 520px;
	margin: 0 auto;
	font-size: 1.5em;
	line-height: 1.3333em;
	margin: 1.5em 0;
	text-align: center;
}

.entry-title a {
	color: #000;
	text-decoration: none;
}

.entry-title a:hover{
	color: #3fcca4;
}

/* Post - Meta */

.meta {
	font-size: 0.750em;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	color: #a6a5a5
}

.meta a {
	color: #000;
	text-decoration: none;
}

.meta a:hover {
	color: #3fcca4;
}

.entry-content ul.tj_post_footer_meta {
	width: 100%;
	display: inline-block;
	margin: 0;
}

ul.tj_post_header_meta li,
ul.tj_post_footer_meta li {
	list-style-type: none;
	display: inline-block;
	padding: 0;
}

ul.tj_post_header_meta li.post-author-link:before,
ul.tj_post_header_meta li.post-comment-count:before,
ul.tj_post_footer_meta li.post-tags-links:before {
	content: '';
	display: inline-block;
	width: 2px;
	height: 2px;
	margin: 0 12px;
}

/* Post - Meta Categories */

.post-categories-links a {
	margin: 0 5px 0 0;
}

/* Post - Meta Tags */

.post-tags-links a {}

/* Post - Read More */

p.more-link {
	margin: 0;
}

a.more-link {
	margin: 0;
	color: #3fcca4;
	font-size: 0.750em;
	text-decoration: underline;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
}

a.more-link:hover {
	color: #000;
}

/* Post - HR Seperator */

hr.post-seperator {
	max-width: 520px;
	border-bottom: 1px solid #a6a5a5;
	margin: 0 auto 80px auto;
}

/* Post Type: Status */

.format-status .author-status-img {
	float: left;
	margin: 0 40px 0 0;
	line-height: 2em;
}

.format-status .author-status-img .avatar {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.format-status .status-content {
	overflow: hidden;
}

.format-status .status-content p:first-child {
	margin-top: -10px;
}

/* Post Type: Audio */

.format-audio .tj-audio {
	max-width: 900px;
	margin: 0 auto;
}

/* Post Type: Gallery */

.tj-gallery-blog {
	max-width: 900px;
	margin: 0 auto;
}

.tj-gallery-slideshow {
	position: relative;
}

.tj-viewport {
	max-height: 2000px; 
	position: relative; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}

.tj-gallery .slides img {
	width: 100%; 
	display: block;
}

.loading .tj-viewport {
	max-height: 300px;
}

/* Hide Before Load Complete */

.tj-gallery-slideshow .slides,
.tj-gallery .slides {
	zoom: 1;
}

.tj-gallery-slideshow .slides > li,
.tj-gallery .slides > li {
	display: none;
	webkit-backface-visibility: hidden;
} 

.tj-gallery-slideshow .slides,
.tj-gallery-nav .slides {
	zoom: 1;
}

.tj-gallery-nav .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden;
} 

/* Slider - Control Nav */

.tj-direction-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 999;
	text-indent: -9999px;
}

.tj-direction-nav li a {
	background: transparent url('img/arrows.png') no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	opacity: 0.6;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

.tj-direction-nav li a:hover {
	opacity: 1;
}

.tj-direction-nav li a.tj-next {
	position: absolute;
	right: 40px;
	background-position: -15px 0;
	width: 30px;
	height: 30px;
}

.tj-direction-nav li a.tj-prev {
	position: absolute;
	left: 40px;
	background-position: 15px 0;
	width: 30px;
	height: 30px;
}

/* Slider - Thumbnail Navigation */

.tj-gallery-nav li {
	margin: 13px 20px 0 0;
}

.tj-gallery-nav img {
	display: block; 
	opacity: .5; 
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.tj-gallery-nav img:hover {
	opacity: 1;
}

.tj-gallery-nav .tj-active-slide img {
	opacity: 1; 
	cursor: default;
}

/* Post Type: Image */

.format-image .tj-image {
	margin: 2.5em auto 0 auto;
	max-width: 900px;	
}

/* Post Type: Quote */

.format-quote .entry-title {
	text-align: left;
}

.format-quote .tj-quote-link {
	margin: -23px 0 0 0;
}

.format-quote .tj-quote-link a {
	color: #3fcca4;
}

.format-quote .tj-quote-link a:hover {
	color: #000;
}

/* Post Type: Link */

.format-link .entry-title {
	text-align: left;
}

/* Post Type: Video */

.tj-video {
	max-width: 900px;
	margin: 0 auto;
}

/* Post Archives */

.archive-breadcrumb {
	max-width: 520px;
	margin: 0 auto;
	text-align: center;
}

.archive-title {
	
}

/* 404 - Content None */ 

article#post-0 {
	border: none;
	width: 100%;
}

/*-----------------------------------------------------------------------------------
05. Single Post
-----------------------------------------------------------------------------------*/

.single .entry-content blockquote,
.page .entry-content blockquote {
	padding: 0 0 0 20px;
	border-left: 5px solid #333;
}

.entry-content ul,
.entry-content ol{
	display: block;
	clear: both;
	margin: 1.5em 1.2em;
	padding: 0;
}

.entry-content ul li,
.entry-content ol li { 
	list-style-type:square;
	margin:  0.75em 0;
}

.entry-content ol li { 
	list-style-type: decimal;
}

/*-----------------------------------------------------------------------------------
06. Pagination
-----------------------------------------------------------------------------------*/

.pagination-default {
	max-width: 520px;
	margin: 80px auto 80px auto;
	text-align: center;
	clear: both;
	text-indent: -9999px;
	
}

.pagination-default a {
	width: 30px;
	height: 30px;
	background: #000 url('img/arrows-white.png') no-repeat;
}

.pagination-default-left a {
	width: 30px;
	height: 30px;
	background-position: 0 0;
	float: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination-default-right a { 
	width: 30px;
	height: 30px;
	background-position: -30px 0;
	float: right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.pagination-default-left a:hover,
.pagination-default-right a:hover {
	background-color: #3fcca4;
	-webkit-transition: 0.3s all ease-in-out;
	-moz-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
}

/* Single Gallery - Footer Meta Client Link */

.pagination-gallery a {
	position: absolute;
	top: 50%;
	width: 100%;
	background: transparent url('img/arrows.png') no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
}

.pagination-gallery-left > a {
	width: 30px;
	height: 30px;
	position: absolute;
	left: 80px;
	background-position: 15px 0;
}

.pagination-gallery-right > a {
	position: absolute;
	right: 80px;
	background-position: -15px 0;
}

.pagination-gallery-left > a,
.pagination-gallery-right > a {
	opacity: 0.6;
}

.pagination-gallery-left > a:hover,
.pagination-gallery-right > a:hover {
	opacity: 1;
}

/*-----------------------------------------------------------------------------------
07. Comment List
-----------------------------------------------------------------------------------*/

.commentlist {
	position: relative;
	border-top: 1px solid #a6a5a5;
	max-width: 520px;
	margin: 0 auto 0 auto;
	padding: 25px 0 0 0;
}

/* Comment - Count */

.comments-meta  {
	margin: 0 0 37px 0;
}

/* Comment - Articles */

.commentlist article {
	margin: 0 0 40px 0;
	padding: 0 0 40px 0;
	border-bottom: 1px solid #a6a5a5;
	font-size: 0.875em;
	line-height: 2.2857em;
	position: relative;
}

/* Comment - Avatar */

.commentlist img.avatar {
	margin: 0 40px 0 0;
	width: 40px;
	height: 40px;
	float: left;
}

/* Comment - Meta */

.entry_info .meta {
	text-transform: none;
}

.entry_info p.meta {
	font-size: 1em;
	font-style: normal;
	line-height: 1em;
	letter-spacing: 0;
	margin: 0;
}

.entry_info cite {
	font-style: normal;
	font-weight: 700;
	line-height: 1em;
	margin: 0;
}

/* Comment - Article Content */

.entry_info {
	overflow: hidden;	
}

.entry_info p:last-child {
	margin-bottom: 40px;
}

/* Comment - Article Links */

.comment_text p a {
	color: #152B3C;
	text-decoration: underline;	
}

.comment_text p a:hover {
	color: #3fcca4;	
}

/* Comment - Reply */

.comment-reply-link {
	position: absolute;
	left: 80px;
	bottom: 40px;
}

a.comment-reply-link {
	padding: 0.2em 0.5em 0.2em 0.5em;
	background: rgba(0,0,0,0.1);
	font-size: 0.875em;
	line-height: 1.1em;
	text-transform: uppercase;
	color: #fff!important;
	font-weight: 700;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.comment-reply-link:hover {
	background: #3fcca4;
	color: #fff;
}

/* Comments - Threaded Articles */

.commentlist .depth-2{
	margin-left: 13%;
	width: 86%;
}

.commentlist .depth-3 {
	margin-left: 26%;
	width: 74%;
}

.commentlist .depth-4{
	margin-left: 39%;
	width: 61%;
}

.commentlist .depth-5{
	margin-left: 51.7%;
	width: 48.3%;
}

/*-----------------------------------------------------------------------------------
08. Comment Form
-----------------------------------------------------------------------------------*/

#respond {
	margin: 25px auto 80px auto;
	clear: both;
}

h3#reply-title {
	margin: 0 0 40px 0;
}

#reply-title a {
	color: #152B3C;
}

#reply-title a:hover {
	color: #3fcca4;
}

#respond label {
	display: block;
	margin: 1.214em 0;
	font-size: 0.875em;
	line-height: 2.2857em;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"]{
	border: 1px solid #f1f1f1;
	outline: none;
	width: 95%;
	margin: 0;
	padding: 0.75em;
	font-size: 0.875em;
	line-height: 2.2857em;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

#respond input[type="text"]:focus,
#respond input[type="email"]:focus,
#respond input[type="url"]:focus,
#respond textarea:focus {
	opacity: 0.6;
}

#respond textarea {
	border: 1px solid #f1f1f1;
	outline: none;
	width: 95%;
	margin: 0;
	padding: 0.75em;
	font-size: 0.875em;
	line-height: 2.2857em;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

.form-allowed-tags,
.comment-notes{
	display: none;
}

#respond input[type="submit"] {
	font-size: 0.875em;
	line-height: 2.2857em;
	padding: 0.2em 0.75em 0.2em 0.75em;
	background-color: #000000;
	color: #fff;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

#respond input[type="submit"]:hover {
	background-color: #3fcca4;
	-webkit-transition: 0.3s all ease-in-out;
		-moz-transition: 0.3s all ease-in-out;
			-o-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
}

/*-----------------------------------------------------------------------------------
09. Page Template - Default
-----------------------------------------------------------------------------------*/

.page-template-default article.page {
	max-width: 100%;
	margin: 0 auto 60px auto;
	clear: both;
}

.page-template-default article.page .entry-title {
	max-width: 520px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

.page-template-default article.page .entry-content {
	max-width: 520px;
	margin: 0 auto;
}

.page-hero {
	text-align: center;
}

/*-----------------------------------------------------------------------------------
10. Page Template - Full Width
-----------------------------------------------------------------------------------*/

.page-template-template-page-full-php article.page .entry-content {
	max-width: 1120px;
	margin: 0 auto 60px auto;
}

.page-template-template-page-full-php article.page .entry-title {
	max-width: 1120px;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

/*-----------------------------------------------------------------------------------
11. Page Template - Contact
-----------------------------------------------------------------------------------*/

.page-template-template-contact-php article.page .entry-content {
	max-width: 520px;
	margin: 0 auto;
}

.page-template-template-contact-php article.page .entry-title {
	max-width: 520px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

#contact {
	margin: 25px auto 80px auto;
	clear: both;
}

.contact label {
	display: block;
	margin: 1.214em 0;
	font-size: 0.875em;
	line-height: 2.2857em;
}

.contact input[type="text"],
.contact input[type="email"],
.contact input[type="url"] {
	border: 1px solid #f1f1f1;
	outline: none;
	width: 95%;
	margin: 0;
	padding: 0.75em;
	font-size: 0.875em;
	line-height: 2.2857em;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

.contact textarea {
	border: 1px solid #f1f1f1;
	outline: none;
	width: 95%;
	margin: 0;
	padding: 0.75em;
	font-size: 0.875em;
	line-height: 2.2857em;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus,
.contact input[type="url"]:focus,
.contact textarea:focus {
	opacity: 0.6;
}

.contact input[type="submit"] {
	font-size: 0.875em;
	line-height: 2.2857em;
	padding: 0.2em 0.75em 0.2em 0.75em;
	background-color: #000000;
	color: #fff;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
			border-radius: 3px;
}

.contact input[type="submit"]:hover {
	background-color: #3fcca4;
	-webkit-transition: 0.3s all ease-in-out;
		-moz-transition: 0.3s all ease-in-out;
			-o-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
}

label.error {
	width: 100%;
	color: #df102c;
}

/*-----------------------------------------------------------------------------------
12. Page Template - Home
-----------------------------------------------------------------------------------*/

/* Home - Primary Container Adjustment */

.page-template-template-home-php #content {
	margin-top: 0;
}

/* Home - Header Ajustment */

.page-template-template-home-php #header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	margin-bottom: 0;
	z-index: 100;
}

/* Home Slider */

.tj-home-slider {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.tj-home-slider .slides li {
	position: relative;
	height: 700px;
}

/*  Home Slider - Loading */

.tj-home-slider .slides {
	zoom: 1;
}

.tj-home-slider .slides > li {
	display: none;
	webkit-backface-visibility: hidden;
} 

/*  Home Slider - Content */

.page-template-template-home-php .tj-home-slider .entry-content {
	position: absolute;
	width: 50%;
	margin: 0 auto;
	text-align: center;
	left: 25%;
	bottom: 35%;
}

.page-template-template-home-php .tj-home-slider .entry-content h1,
.page-template-template-home-php .tj-home-slider .entry-content h2,
.page-template-template-home-php .tj-home-slider .entry-content h3,
.page-template-template-home-php .tj-home-slider .entry-content h4,
.page-template-template-home-php .tj-home-slider .entry-content h5,
.page-template-template-home-php .tj-home-slider .entry-content h6 {
	font-size: 2.250em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 20px;
	margin: 0 0 1em 0;
}

.page-template-template-home-php .tj-home-slider .entry-content p {
	margin: 0.5em 0;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.75em;
}

.page-template-template-home-php .tj-home-slider .entry-content p:last-child {
	margin-bottom: 3em;
}

.page-template-template-home-php .tj-home-slider .entry-content a {
	text-decoration: none;
}

.page-template-template-home-php .tj-home-slider .slides a {
	color: #5e5e5e;
}

.tj-home-slider-img img {
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.page-template-template-home-php .tj-home-slider .tj-direction-nav {
	position: absolute;
	top: 40%;
}

.page-template-template-home-php .tj-home-slider .tj-direction-nav a {
	background: transparent url('img/arrows-white-slider.png') no-repeat;
	background-size: 100% 100%;
	padding: 0;
	width: 30px;
	height: 30px;
	opacity: 1;
	text-indent: -9999px;
}

.page-template-template-home-php .tj-home-slider .tj-direction-nav a:hover {
	opacity: 0.6;
}

.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-next {
	right: 40px;
	background-position: -15px 0;

}

.page-template-template-home-php .tj-home-slider .tj-direction-nav a.tj-prev {
	left: 40px;
	background-position: 15px 0;
}

/*  Home Gallery - Message */

.tj_gallery_message {
	width: 80%;
	margin: 0 auto;
	padding: 0 0 75px 0;
	text-align: center;
}

.tj_gallery_message h1,
.tj_gallery_message h2, 
.tj_gallery_message h3, 
.tj_gallery_message h4, 
.tj_gallery_message h5, 
.tj_gallery_message h6 {
	font-size: 1.1em;
	margin: 0;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

.tj_gallery_message p {
	margin: 1em 0;
}

/*  Home Testimonials */

.tj-home-testimonials-wrapper {
	background: #fff;
	margin: 0 auto;
	padding: 30px 0;
}

/*  Home Testimonials - Content */

.tj-home-testimonials {
	margin: 0 auto 0 auto;
	padding: 50px 6.25% 40px 6.25%;
	text-align: center;
	font-weight: 300;
}

.tj-home-testimonials .entry-content {
	width: 70%;
	max-width: 900px;
	margin: 0 auto;
}

.tj-home-testimonials .entry-content h1,
.tj-home-testimonials .entry-content h2,
.tj-home-testimonials .entry-content h3,
.tj-home-testimonials .entry-content h4,
.tj-home-testimonials .entry-content h5,
.tj-home-testimonials .entry-content h6 {
	font-size: 0.75em;
	line-height: 2.2857em;
	margin: 1.250em 0 0 0;
	font-weight: 400;
	color: #a6a5a5;
}

.tj-home-testimonials .entry-content p {
	font-size: 1.25em;
	line-height: 2.66em;
	margin: 0 0 0 0;
	color: #000;
}

.client-link {
	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 900!important;
	letter-spacing: 2px;
}

.tj-home-testimonials .entry-content a {
	color: #a6a5a5;
}

.tj-home-testimonials .entry-content a:hover {
	color: #3fcca4;
}

.tj-home-testimonials a {
	text-decoration: none;
}

/*  Home Testimonials - Slider */

.tj-home-testimonials-slider {
	position: relative;
	margin: 0 auto;
}

.tj-home-testimonials-slider:before {
	content: '';
	width: 23px;
	height: 19px;
	display: block;
	margin: 0 auto 20px auto;
	background: transparent url('img/blockquote.png') no-repeat center center;
	background-size: 23px 19px;
	opacity: 0.2;
	-webkit-animation: fadein 0.4s 0s ease-out;
}

.tj-home-testimonials-slider .slides {
	zoom: 1;
}

.tj-home-testimonials-slider .slides > li {
	display: none;
	webkit-backface-visibility: hidden;
}

.tj-home-testimonials-slider .tj-testimonial-direction-nav {
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 100%;
	text-indent: -9999px;
}

.tj-home-testimonials-slider .tj-testimonial-direction-nav a {
	background: transparent url('img/arrows.png') no-repeat;
	background-size: 100% 100%;
	width: 30px;
	height: 30px;
	opacity: 0.2;
}

.tj-home-testimonials-slider .tj-testimonial-direction-nav a:hover {
	opacity: 0.5;
}

.tj-home-testimonials-slider a.tj-testimonial-next {
	position: absolute;
	left: -10px;
	background-position: 15px 0;

}

.tj-home-testimonials-slider a.tj-testimonial-prev {
	position: absolute;
	right: -10px;
	background-position: -15px 0;
}

/*-----------------------------------------------------------------------------------
13. Gallery Items
-----------------------------------------------------------------------------------*/

/*  Home Gallery */

.tj-gallery-wrapper {
	width: 100%;
	position: relative;
	background: transparent;
	padding: 70px 0 35px 0;
}

.tj-gallery-content {
	max-width: 1120px;
	margin: 0 auto;
}

.tj-gallery {
	margin-right: -80px;
}

.tj-gallery article {
	width: 220px;
	margin: 0 80px 40px 0;
	float: left;
	position: relative;
	text-align: center;
}

.tj-gallery .gallery-hero,
.tj-gallery .gallery-hero a {
	width: 220px;
	height: 220px;
	display: block;
}

.tj-gallery .gallery-hero { 
	background: transparent url(img/featured-image-overlay.png) no-repeat 50% 50%;
	background-size: 15px 15px;
}

.tj-gallery .gallery-hero a:hover img {
	opacity: 0.6;
}

.tj-gallery .gallery-hero a img {
	display: block;
}

.tj-gallery .entry-title {
	font-size: 0.75em;
	line-height: 2.2857em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	margin: 1.250em 0 0 0;
}

/*-----------------------------------------------------------------------------------
14. Page Template - Gallery
-----------------------------------------------------------------------------------*/

.page-template-template-gallery-php article.page {
	width: 70%;
	max-width: 900px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	text-align: center;
}

.page-template-template-gallery-php article.page .entry-content h1,
.page-template-template-gallery-php article.page .entry-content h2,
.page-template-template-gallery-php article.page .entry-content h3,
.page-template-template-gallery-php article.page .entry-content h4,
.page-template-template-gallery-php article.page .entry-content h5,
.page-template-template-gallery-php article.page .entry-content h6 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
	margin: 0;
}

.page-template-template-gallery-php article.page .entry-content p {
	margin: 1em 0;
}

.page-template-template-gallery-php .tj-gallery-wrapper {
	padding-top: 55px;
}

/*-----------------------------------------------------------------------------------
15. Page Template - Gallery Filtered
-----------------------------------------------------------------------------------*/

.page-template-template-gallery-filtered-php #content {
	min-height: 100%;
}

.page-template-template-gallery-filtered-php article.page {
	width: 70%;
	max-width: 900px;
	margin: 70px auto 0 auto;
	padding: 0;
	text-align: center;
}

.page-template-template-gallery-filtered-php article.page .entry-content {
	margin-bottom: -40px;
}

.page-template-template-gallery-filtered-php article.page .entry-content h1,
.page-template-template-gallery-filtered-php article.page .entry-content h2,
.page-template-template-gallery-filtered-php article.page .entry-content h3,
.page-template-template-gallery-filtered-php article.page .entry-content h4,
.page-template-template-gallery-filtered-php article.page .entry-content h5,
.page-template-template-gallery-filtered-php article.page .entry-content h6 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
	margin: 0;
}

.page-template-template-gallery-filtered-php article.page .entry-content p {
	margin: 1em 0;
}

.page-template-template-gallery-filtered-php .tj-gallery {
	margin-right: -80px;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:    -moz-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

#sort-by { 
	text-align: center;
	margin: 0 0 80px 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-size: 0.750em;
	line-height: 2.2857em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
}

#sort-by ul { 
	margin: 0 0 40px 0;
	padding: 0;
	width: 100%;
}

#sort-by ul li { 
	display: inline-block;
	margin-right: 10px;
}

#sort-by ul li a { 
	color: #000;
    display: inline-block;
	margin:0 10px 15px 0;
	padding: 0 2em;
    position: relative;
    text-decoration: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid #fff;
}

#sort-by .active,
#sort-by ul li a:hover {
	border: 3px solid #3fcca4;
}

/*-----------------------------------------------------------------------------------
16. Page Template - Single Gallery
-----------------------------------------------------------------------------------*/

.single-gallery #header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
}

.tj-cpt-gallery article.gallery {
	position: relative;
	width: 520px;
	margin: 0 auto;
}

.tj-cpt-gallery .entry-title {
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

/* Single Gallery - Featured Image */

.single-gallery-hero {
	position: relative;
	min-width: 100%;
	min-height: 550px;
}

/* Single Gallery - No Featured Image */

.single-gallery.tj-no-image .single-gallery-hero {
	min-height: 0;
}

.single-gallery.tj-no-image #header{
	position: relative;
}

.entry-title-wrapper {
	text-align: center;
}

/* Single Gallery - Media */

.single-gallery-media {
	max-width: 900px;
	margin: 50px auto 80px auto;
	position: relative;
}

.tj-image-meta {
	position: relative;
	min-width: 100%;
	height: auto;
}

.tj-image-meta img {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Single Gallery - Image Caption */

.tj-image-caption {
	position: absolute;
	bottom: 48px;
	right: 41px;
	background: rgba(0,0,0,0.6);
	padding: 0.5em 1em;
	font-size: 0.750em;
	text-transform: uppercase;
	font-weight: 900;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Single Gallery - Image Description */

.tj-image-description {
	width: 520px;
	margin: 0 auto 6px auto;
}

.tj-image-description a {
	color: #152B3C;
}

.tj-image-description a:hover {
	color: #3fcca4;
}

/* Single Gallery - Footer Meta */

.single-gallery-footer {
	width: 100%;
	position: relative;
	margin: 0 auto;
	padding: 40px 0;
	background: #fff;
}

.single-gallery-meta-wrapper {
	max-width: 520px;
	position: relative;
	margin: 0 auto;
	min-height: 40px;
}

.single-gallery-meta {
	width: 220px;
	margin: 0 80px 0 0;
	float: left;
	text-align: center;
}

.single-gallery-meta.last {
	margin-right: 0;
}

/* Single Gallery - Footer Meta Client Link */

.tj-client-url a {
	color: #000;
}

.tj-client-url a:hover {
	color: #3fcca4;
}

.single-gallery .pagination-gallery {
	position: absolute;
	top: 45%;
	width: 100%;
}

/*-----------------------------------------------------------------------------------
17. Gallery Taxonomy
-----------------------------------------------------------------------------------*/

.tax-gallery-type article.taxonomy-description {
	width: 70%;
	max-width: 900px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	text-align: center;
}

.tax-gallery-type article.taxonomy-description .entry-content .entry-title {
	max-width: 100%;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 10px;
}

.tax-gallery-type article.taxonomy-description .entry-content {
	max-width: 100%;
}

/*-----------------------------------------------------------------------------------
18. Page Template - Search
-----------------------------------------------------------------------------------*/

.search #primary {
	padding: 0 0 80px 0;
}

/* Search String Titles */

.search-query {
	max-width: 520px;
	margin: 0 auto 80px auto;
	text-align: center;
}

/*-----------------------------------------------------------------------------------
19. Custom TJ Widgets
-----------------------------------------------------------------------------------*/

/* Generic Widget Setup */

.widget {
	text-align: left;
	margin: 50px 0 80px 0;
}

.widget-title {
	font-size: 0.75em;
	line-height: 2.2857em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 2px;
	color: #a6a5a5;
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul li {
	margin: 0 0 0.75em 0;
	padding: 0;
	font-size: 1em;
	line-height: 2em;
}

.widget ul li:first-child {
	margin-top: 0.75em;
}

.widget ul li:last-child {
	margin-bottom: 0;
}

/* Footer Widget Setup */

.footer-widget-left,
.footer-widget-right {
	float: left;
	width: 46.42857%;
	margin: 0 7.14286% 0 0;	
}

.footer-widget-right {
	margin-right: 0;
}

/* TJ Post Widget */

.tj-posts-widget-featured-img {
	width: 80px;
	float: left;
	margin: 0 20px 0 0;
}

.tj-posts-widget-featured-img img:hover {
	opacity: 0.6;
}

.tj-posts-widget-post-date {
	margin: 0 0 0.75em 0;
	font-size: 0.750em;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	color: #a6a5a5;
}

.tj-posts-widget-post-title .entry-title {
	font-size: 1.125em;
	margin-bottom:0.75em;
	text-align: left;
}

/* TJ Video */

.tj_video_widget .video_widget {
	margin: 2.2em auto 0 auto;
}

/* TJ Flickr */

.tj_flickr_widget .flickrwidget .flickrwidget-inner {
	margin: 2.2em -30px 0 0;
	display: inline-block;
	clear: both;
}

.tj_flickr_widget .widget-title {}

.tj_flickr_widget .flickrwidget .flickr_badge_image {
	float: left;
	width: 80px;
	height: 80px;
	overflow: hidden;
	margin: 0 22px 22px 0;
}

.tj_flickr_widget .flickrwidget .flickr_badge_image img:hover {
	opacity: 0.6;
}

/* WP Tag Cloud */

.widget_tag_cloud {
	display: block;
	clear: both;
}

.widget_tag_cloud .tagcloud a {	
	font-size: 1em!important;
	line-height: 2.4286em;
	margin: 0.607em 0.607em 0.607em 0;
	padding: 0;
	display: inline-block;
}

.widget_tag_cloud .tagcloud a:hover {
	text-decoration: none;
}

/*-----------------------------------------------------------------------------------
20. Footer
-----------------------------------------------------------------------------------*/

.footer-wrap {
	background: #fff;
	width: 100%;
	margin: 0;
	padding: 0;
}

/* Footer */

#footer {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 0.875em; /* 14px */
	line-height: 2.2857em; /* 32px */
}

/* Footer Widget Wrapper */

.footer-widgets {
	max-width: 1120px;
	margin: 0 auto;
}

.footer-widgets a {
	color: #5e5e5e;
	font-weight: normal;
}

.footer-widgets a:hover {
	color: #3fcca4;
}

/* Footer Inner */

.footer-inner {
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
	background: #000;
	font-size: 0.75em; /* 12px */
	line-height: 2.6667em; /* 32px */
	text-align: center;
	color: #fff;
}

.footer-inner-wrap {
	max-width: 85.71%;
	margin: 0 auto;
}

.footer-inner P {
	margin: 0;
}

.footer-inner a {
	color: #fff;
	font-weight: bold;
}

.footer-inner a:hover {
	color: #3fcca4;
}

/*-----------------------------------------------------------------------------------
21. ThemeJug Shortcodes
-----------------------------------------------------------------------------------*/

.tj-column {
	font-size: 1em;
	line-height: 2em;
	margin: 1.5em 0;
}

.tj-social {
	margin: 0.4em 1% 0 0!important;
	display: inline-block;
}

.alert {
	margin: 1.5em auto!important;
}

.tj-toggle {
	font-size: 1em;
	line-height: 2em;
	margin: 1.5em 0!important;
}

.page-template-default .tj-toggle-inner {
	width: 93%!important;
}

.tj-tab {
	font-size: 1em;
	line-height: 2em;
	margin: 1.5em 0;
	padding: 40px!important;
}

.tj-tabs ul.nav li a {
	padding: 5px 15px 5px 15px!;
	background: #fff!important;
	-webkit-border-radius: 15px 15px 0 0!important;
	-moz-border-radius: 15px 15px 0 0!important;
	border-radius: 15px 15px 0 0!important;
}

.tj-button {
	margin: 1.5em 5px 1.5em 0!important;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.75em;
}

.tj-button:hover {
	opacity: 0.9;
}

.tj-button span.tj-button-title {
	padding: 0.5em 1.5em!important;
	font-weight: 900!important;
}

.tj-yellow,
.tj-green,
.tj-red,
.tj-orange,
.tj-blue,
.tj-black,
.tj-white {
	border-bottom: none!important;
}

.tj-white {
	background: #fff;
}

.tj-white .tj-button-title {
	color: #545454!important;
}

.tj-alert {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.75em!important;
	font-weight: 900;
}