/*================================================================================================================

	Comments

================================================================================================================*/

	#respond {
		margin-top: 60px;
		border-top: 1px solid #f5f5f5;
	}

	#comments_title,
	#respond_title {
		padding-top: 40px;
		margin-top: 10px;
		clear: both;
	}
	
	.commentlist {
		clear: both;
	}
	
	.commentlist .children {
		margin-left: 10%;
	}
	
	.commentlist .comment .avatar {
		float: left;
		margin-right: 30px;
	}
	
	.commentlist .comment .comment-author {
		padding-top: 3px;
	}
	
	.commentlist .comment .comment-author a {
		font-style: normal;
	}
	
	.commentlist .comment .comment-meta {
		font-size: 11px;
		font-style: italic;
		margin-bottom: 20px;
	}
	
	.commentlist .comment .comment-inner {
		margin-left: 80px;
	}
	
	.commentlist .comment .comment-body {
		margin: 15px 0;
	}
	
	/* Comment Form */
		
		#commentform {
			clear: both;
		}
		
		#commentform textarea,
		#commentform input[type="text"] {
			width: 96%;
			padding: 3%;
			margin: 0 0 20px 0;
			display: block;
			color: #fff;
			border: none;
			outline: none;
			background: #eaeaea;
		}
		
		#commentform #submit {
			line-height: 24px
		}