/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.happyworm.com/jquery/jplayer
 *
 * Skin Name: Blue Monday
 *
 * Copyright (c) 2010-2011 Happyworm Ltd
 * Dual licensed under the MIT and GPL licenses.
 *  - http://www.opensource.org/licenses/mit-license.php
 *  - http://www.gnu.org/copyleft/gpl.html
 *
 * Author: Silvia Benvenuti
 * Skin Version: 4.0 (jPlayer 2.1.0)
 * Date: 1st September 2011
 */

.jp-audio,
.jp-video {

	/* Edit the font-size to counteract inherited font sizing.
	 * Eg. 1.25em = 1 / 0.8em
	 */

	font-size:1.25em; /* 1.25em for testing in site pages */ /* No parent CSS that can effect the size in the demos ZIP */

	font-family:Verdana, Arial, sans-serif;
	line-height:1.6;
	color: #666;
	background-color: #eee;
	position:relative;
}
.jp-audio {
	width: 100%;
}
.jp-video-270p {
	width:540px;
}
.jp-video-360p {
	width:540px;
}
.jp-video-full {
	/* Rules for IE6 (full-screen) */
	width:480px;
	height:270px;
	/* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
	position:static !important; position:relative
}

.jp-video-full .jp-jplayer {
	top: 0;
	left: 0;
	position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
	overflow: hidden;
	z-index:1000;
}

.jp-video-full .jp-gui {
	position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	z-index:1000;
}

.jp-video-full .jp-interface {
	position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
	bottom: 0;
	left: 0;
	z-index:1000;
}

.jp-interface {
	position: relative;
	width:100%;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.jp-audio .jp-type-single .jp-interface {
	height:40px;
}
.jp-audio .jp-type-playlist .jp-interface {
	height:40px;
}

.jp-video .jp-interface {
	border-top:1px solid #009be3;
}

/* @group CONTROLS */

.jp-controls-holder {
	clear: both;
	margin:0 auto;
	position: relative;
	overflow:hidden;
	top:-8px; /* This negative value depends on the size of the text in jp-currentTime and jp-duration */
}

.jp-interface ul.jp-controls {
	width: 8%;
	list-style-type:none;
	margin:0;
	padding: 0;
	overflow:hidden;
	float: left;
}

.jp-audio a {
	color: #fff;
}

.jp-audio ul.jp-controls {
	max-width: 100%;
}

.jp-video .jp-type-single ul.jp-controls {
	width: 78px;
	margin-left: 200px;
}

.jp-video .jp-type-playlist ul.jp-controls {
	width: 134px;
	margin-left: 172px;
}
.jp-video ul.jp-controls,
.jp-interface ul.jp-controls li {
	display:inline;
	float: left;
	background: none; 
	padding: 0;
}

.jp-interface ul.jp-controls a {
	font-size: 14px;
	display:block;
	overflow:hidden;
}
a.jp-play,
a.jp-pause {
	width: 32px;
	height: 30px;
	padding: 10px 0 0 15px; 
}

a.jp-stop, a.jp-previous, a.jp-next {
	width:28px;
	height:28px;
	margin-top:6px;
}

a.jp-stop {
	background: url("jplayer.blue.monday.jpg") 0 -83px no-repeat;
	margin-left:10px;
}

a.jp-stop:hover {
	background: url("jplayer.blue.monday.jpg") -29px -83px no-repeat;
}

a.jp-previous {
	background: url("jplayer.blue.monday.jpg") 0 -112px no-repeat;
}
a.jp-previous:hover {
	background: url("jplayer.blue.monday.jpg") -29px -112px no-repeat;
}

a.jp-next {
	background: url("jplayer.blue.monday.jpg") 0 -141px no-repeat;
}
a.jp-next:hover {
	background: url("jplayer.blue.monday.jpg") -29px -141px no-repeat;
}

/* @end */

/* @group progress bar */

.jp-progress-container {
	height: 5px;
	padding: 17px 0;
	float: left;
}

.jp-progress {
	overflow: hidden;
	background-color: #25292a;
}

.jp-audio .jp-progress {
	height: 5px;
	padding: 1px;
}
.jp-audio .jp-type-single .jp-progress-container,
.jp-audio .jp-type-playlist .jp-progress-container {
	width: 72%;
	padding-right: 3%;
	padding-left: 1%;
}
.jp-video .jp-progress-container {
	top:0px;
	left:0px;
	width:100%;
	height:10px;
}
.jp-seek-bar {
	width:0px;
	height:100%;
	cursor: pointer;
}
.jp-play-bar {
	width:0px;
	height: 100%;
}

/* The seeking class is added/removed inside jPlayer */
.jp-seeking-bg {
	background: url("jplayer.blue.monday.seeking.gif");
}

/* @end */

/* @group volume controls */


a.jp-mute,
a.jp-unmute,
a.jp-volume-max {
	width:30px;
	height:30px;
}

.jp-audio .jp-type-single a.jp-mute,
.jp-audio .jp-type-single a.jp-unmute {
	/*margin-left: 420px;*/	
}

.jp-audio .jp-type-playlist a.jp-mute,
.jp-audio .jp-type-playlist a.jp-unmute {
	/*margin-left: 154px;*/
}

.jp-audio a.jp-volume-max {
	margin-left: 56px;	
}

.jp-video a.jp-mute,
.jp-video a.jp-unmute,
.jp-video a.jp-volume-max {
	position: absolute;
	top:12px;
	margin-top:0;
}

.jp-video a.jp-mute,
.jp-video a.jp-unmute {
	left: 70px;
}


.jp-video a.jp-volume-max {
	left: 134px;
}
a.jp-unmute {
	display: none;
}

a.jp-volume-max {
	background: url("jplayer.blue.monday.jpg") 0 -186px no-repeat;
}
a.jp-volume-max:hover {
	background: url("jplayer.blue.monday.jpg") -19px -186px no-repeat;
}

.jp-volume-bar-container { 
	width: 16%;
	height: 34px;
	padding: 3px 0;
	float: left;
}
	
.jp-volume-bar {	
	width: 40%;
	height: 5px;
	padding: 1px;
	float: right;
	margin: 13px 15px 0 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	cursor: pointer;
	overflow:hidden;
	background: #25292a;
}

.jp-volume-btns {
	height: 40px;
	float: left;
}

.jp-volume-bar-value {
	width:0px;
	height: 100%;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}

/* @end */

/* @group current time and duration */

.jp-audio .jp-time-holder {
	position:absolute;
	top:50px;
}
.jp-audio .jp-type-single .jp-time-holder {
	left:110px;
	width:186px;
}
.jp-audio .jp-type-playlist .jp-time-holder {
	left:166px;
	width:130px;
}

.jp-current-time,
.jp-duration {
	width:60px;
	font-size:.64em;
	font-style:oblique;
}
.jp-current-time {
	float: left;
	display:inline;
}
.jp-duration {
	float: right;
	display:inline;
	text-align: right;
}

.jp-video .jp-current-time {
	margin-left:20px;
}
.jp-video .jp-duration {
	margin-right:20px;
}

/* @end */

/* @group playlist */

.jp-title {
	font-weight:bold;
	text-align:center;
}

.jp-title,
.jp-playlist {
	width:100%;
	background-color:#ccc;
	border-top:1px solid #009be3;
}
.jp-type-single .jp-title,
.jp-type-playlist .jp-title,
.jp-type-single .jp-playlist {
	border-top:none;
}
.jp-title ul,
.jp-playlist ul {
	list-style-type:none;
	margin:0;
	padding:0 20px;
	font-size:.72em;
}

.jp-title li {
	padding:5px 0;
	font-weight:bold;
}
.jp-playlist li {
	padding:5px 0 4px 20px;
	border-bottom:1px solid #eee;
}

.jp-playlist li div {
	display:inline;
}

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */

.jp-type-playlist .jp-playlist li:last-child {
	padding:5px 0 5px 20px;
	border-bottom:none;
}
.jp-type-playlist .jp-playlist li.jp-playlist-current {
	list-style-type:square;
	list-style-position:inside;
	padding-left:7px;
}
.jp-type-playlist .jp-playlist a {
	color: #333;
	text-decoration: none;
}
.jp-type-playlist .jp-playlist a:hover {
	color:#0d88c1;
}
.jp-type-playlist .jp-playlist a.jp-playlist-current {
	color:#0d88c1;
}

.jp-type-playlist .jp-playlist a.jp-playlist-item-remove {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
	font-weight:bold;
	color:#666;
}
.jp-type-playlist .jp-playlist a.jp-playlist-item-remove:hover {
	color:#0d88c1;
}
.jp-type-playlist .jp-playlist span.jp-free-media {
	float:right;
	display:inline;
	text-align:right;
	margin-right:10px;
}
.jp-type-playlist .jp-playlist span.jp-free-media a{
	color:#666;
}
.jp-type-playlist .jp-playlist span.jp-free-media a:hover{
	color:#0d88c1;
}
span.jp-artist {
	font-size:.8em;
	color:#666;
}

/* @end */

.jp-video-play {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	cursor:pointer;
	background-color:rgba(0,0,0,0); /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */
}
.jp-video-270p .jp-video-play {
	height:270px;
}
.jp-video-360p .jp-video-play {
	height:360px;
}
.jp-video-full .jp-video-play {
	height:100%;
	z-index:1000;
}
a.jp-video-play-icon {
	position:relative;
	display:block;
	width: 112px;
	height: 100px;

	margin-left:-56px;
	margin-top:-50px;
	left:50%;
	top:50%;

	background: url("jplayer.blue.monday.video.play.png") 0 0 no-repeat;
	text-indent:-9999px;
}
.jp-video-play:hover a.jp-video-play-icon {
	background: url("jplayer.blue.monday.video.play.png") 0 -100px no-repeat;
}





.jp-jplayer audio,
.jp-jplayer {
	width:0px;
	height:0px;
}

.jp-jplayer {
	background-color: #000000;
}





/* @group TOGGLES */

/* The audio toggles are nested inside jp-time-holder */

ul.jp-toggles {
	list-style-type:none;
	padding:0;
	margin:0 auto;
	overflow:hidden;
}

.jp-audio .jp-type-single ul.jp-toggles {
	width:25px;
}
.jp-audio .jp-type-playlist ul.jp-toggles {
	width:55px;
	margin: 0;
	position: absolute;
	left: 325px;
	top: 50px;
}

.jp-video ul.jp-toggles {
	margin-top:10px;
	width:100px;
}

ul.jp-toggles li {
	display:block;
	float:right;
}

ul.jp-toggles li a {
	display:block;
	width:25px;
	height:18px;
	text-indent:-9999px;
	line-height:100%; /* need this for IE6 */
}

a.jp-full-screen {
	background: url("jplayer.blue.monday.jpg") 0 -310px no-repeat;
	margin-left: 20px;
}

a.jp-full-screen:hover {
	background: url("jplayer.blue.monday.jpg") -30px -310px no-repeat;
}

a.jp-restore-screen {
	background: url("jplayer.blue.monday.jpg") -60px -310px no-repeat;
	margin-left: 20px;
}

a.jp-restore-screen:hover {
	background: url("jplayer.blue.monday.jpg") -90px -310px no-repeat;
}

a.jp-repeat {
	background: url("jplayer.blue.monday.jpg") 0 -290px no-repeat;
}

a.jp-repeat:hover {
	background: url("jplayer.blue.monday.jpg") -30px -290px no-repeat;
}

a.jp-repeat-off {
	background: url("jplayer.blue.monday.jpg") -60px -290px no-repeat;
}

a.jp-repeat-off:hover {
	background: url("jplayer.blue.monday.jpg") -90px -290px no-repeat;
}

a.jp-shuffle {
	background: url("jplayer.blue.monday.jpg") 0 -270px no-repeat;
	margin-left: 5px;
}

a.jp-shuffle:hover {
	background: url("jplayer.blue.monday.jpg") -30px -270px no-repeat;
}

a.jp-shuffle-off {
	background: url("jplayer.blue.monday.jpg") -60px -270px no-repeat;
	margin-left: 5px;
}

a.jp-shuffle-off:hover {
	background: url("jplayer.blue.monday.jpg") -90px -270px no-repeat;
}


/* @end */

/* @group NO SOLUTION error feedback */

.jp-no-solution {
	position:absolute;
	width:390px;
	margin-left:-202px;
	left:50%;
	top: 10px;

	padding:5px;
	font-size:.8em;
	background-color:#eee;
	border:2px solid #009be3;
	color:#000;
	display:none;
}

.jp-no-solution a {
	color:#000;
}

.jp-no-solution span {
	font-size:1em;
	display:block;
	text-align:center;
	font-weight:bold;
}

/* @end */
