/*================================================================================================================

	RESPONSIVE

================================================================================================================*/

@media only screen and (max-width : 880px) {
	
	h1 { font-size: 36px; }
	
	#control {
		width: 100%;
		height: 75px;
		top: 0;
		right: 0;
		bottom: auto;
		position: absolute;
		z-index: 10001;
	}
	
	#control #side {
		width: 88%;
		padding: 22px 6% 0 6%;
		float: none;
	}
	
	#control #side .side-inner {
		top: auto;
		left: auto;
		bottom: auto;
		padding: 0;
		right: 0 !important;
		position: relative;
		overflow: hidden;
	}
	
	#control #side #logo {
		float: left;
		padding-left: 0;
	}
	
	#control #side #logo h1 {
		font-size: 24px;
		margin: 0 -5px 8px 0;
	}
	
	#control #side #logo .sub {
		display: none;
	}
	
	#control #side #nav {
		width: auto;
		float: right;
		padding: 0;
		margin: 0;
	}
	
	#control #side #nav #mobile_nav { display: block; }
	#control #side #nav .regular { display: none; }
	
	#main {
		width: 100%;
		padding-top: 110px;
		margin: 0;
		opacity: 1 !important;
	}
	
	#main #content {
		width: 88%;
		padding: 0 6% 0 6%;
	}
	
	.page #main #content {
		padding-top: 0;
	}
	
	.blog #content,
	.category #content,
	.single-post #content {
		width: 100% !important;
		padding: 0 !important;
	}
		
	.left_side,
	#crumbs {
		width: 73%;
	}
	
	.right_side {
		margin-left: 12%;
	}
	
	.padL {
		width: 94%;
		padding-left: 6%;
	}
	
	#meta {
		width: 20%;
	}
	
	#widgets {
		display: none;
	}
	
	#footer {
		padding: 0;
	}
	
}

@media only screen and (max-width : 540px) {

	.ret { display: block !important; }
	
	.reg { display: none !important; }

	.one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-fifth, .two-fifths, .three-fifths, .four-fifths, .one-sixth { width: 100%; }
	
	#projects {
		width: 100%;
	}
	
	#projects .project {
		width: 96%;
		margin-right: 0;
	}
	
	#project_sort #filter_drop { display: block; }
	#project_sort .filter { display: none; }
	
	#project_box .close {
		top: 35px;
		right: -15px;
	}

	.jp-interface ul.jp-controls {
		width: 15%;
	}
	
	.jp-audio .jp-type-single .jp-progress-container,
	.jp-audio .jp-type-playlist .jp-progress-container {
		width: 48%;
		padding-right: 5%;
	}
	
	.jp-volume-bar-container {
		width: 30%;
	}

}

@media only screen and (max-width : 320px) {
	
	#main {
		padding-top: 90px;
	}
	
	#main #content {
		width: 88% !important;
		padding: 10px 6% 0 6% !important;
	}
	
	.padL {
		width: 100%;
		padding-left: 0;
	}
	
	.left_side {
		width: 100%;
		padding: 0;
	}
	
	#meta,
	.right_side {
		display: none;
	}
	
	#map { height: 150px !important; }

}