/*-----------------------------------------------------------------------------------	
Admin Styles For Sortable Galleries - Galleries->Sort Galleries
-----------------------------------------------------------------------------------*/

.menu-item-title a {
	font-size: 13px!important;
	font-weight: bold;
	text-decoration: none;
	outline: none;
	display: block;
	clear: both;
}

.menu-item-thumbnail {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.menu-item-tags {
	display: block;
	clear: both;
}

.menu-item-tags a {
	text-decoration: none;
}

.menu-item-date {
	display: none;
}