/*================================================================================================================

>>> Shortcodes (for shortcodes.php)
                                                     
================================================================================================================*/



/*========================================================

>>> Buttons

========================================================*/

.btn {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: lighter;
	color: #fff !important;
	padding: 4px 15px;
	margin: 0 10px 10px 0;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.btn i {
	font-size: 16px;
	line-height: 1;
	padding-left: 10px;
}

.large {
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	padding: 10px 25px;
}

.large i {
	font-size: 28px;
}



/*========================================================

>>> Columns

========================================================*/

	.full { width: 100%; clear: both; margin-bottom: 25px; overflow: hidden; }
	.one-half, .one-third, .two-thirds, .one-fourth, .three-fourths, .one-fifth, .two-fifths, .three-fifths, .four-fifths, .one-sixth { float: left; position: relative; margin-right: 4%; margin-bottom: 25px; overflow: hidden; }
	.no-margin { margin-bottom: 0; }
	.one-half { width: 48%; }
	.one-third { width: 30.66%; }
	.two-thirds { width: 65.1%; }
	.one-fourth { width: 22%; }
	.three-fourths { width: 74%; }
	.one-fifth { width: 16.8%; }
	.two-fifths { width: 37.2%; }
	.three-fifths { width: 54.8%; }
	.four-fifths { width: 78.8%; }
	.column-last { margin-right: 0 !important; clear: right; }
	
	
	
/*========================================================

>>> Lists

========================================================*/

	.content .list ul { list-style-type: none; margin: 0 0 40px 0; }
	.content .list ul li { line-height: 20px; padding: 0 0 0 20px; margin-bottom: 15px; }
	.list_check ul li { background: url(../images/icons/list_check.png) center left no-repeat }
	.list_delete ul li { background: url(../images/icons/list_delete.png) center left no-repeat }
	.list_heart ul li { background: url(../images/icons/list_heart.png) center left no-repeat }
	.list_lightning ul li { background: url(../images/icons/list_lightning.png) center left no-repeat }
	.list_star ul li { background: url(../images/icons/list_star.png) center left no-repeat }
	.list_contact ul li { background: url(../images/icons/list_contact.png) center left no-repeat }
	.list_idea ul li { background: url(../images/icons/list_idea.png) center left no-repeat }
	.list_flag ul li { background: url(../images/icons/list_flag.png) center left no-repeat }



/*========================================================

>>> Tabs

========================================================*/
	
	.ui-tabs {
		position: relative;
		margin-bottom: 50px;
		border-bottom: 1px solid #ddd;
		zoom: 1;
	}
	
	.ui-tabs .ui-tabs-nav {
		padding: 0;
		overflow: hidden;
		float: left;
		margin: 0 0 -1px 0;
		border: 1px solid #ddd;
		border-bottom: none;
		z-index: 1000;
	}
	
	.ui-tabs .ui-tabs-nav li {
		list-style: none;
		float: left;
		position: relative;
		white-space: nowrap;
		line-height: 1;
		margin-bottom: 0;
		border-left: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		background: #f3f3f3;
	}
	.ui-tabs .ui-tabs-nav li:first-child {
		border-left: none;
	}
	
	.ui-tabs .ui-tabs-nav li a {
		color: #9a9ca0;
		display: block;
		text-decoration: none;
		padding: 15px 20px;
		overflow: hidden;
	}
	
	.ui-tabs .ui-tabs-nav li a span {
		font-weight: bold;
		line-height: 28px;
		float: left;
		padding: 0;
		display: block;
	}
	
	.ui-tabs .ui-tabs-nav .ui-state-active a,
	.ui-tabs .ui-tabs-nav .ui-state-focus a {
		color: #454953 !important;
		background: #fff;
	}
	
	.ui-tabs .ui-tabs-nav :hover { 
		background: #fff;
	}
	
	.ui-tabs .ui-tabs-nav .ui-tabs-selected,
	.ui-tabs .ui-tabs-nav .ui-state-active {
		border-bottom-color: #fff !important;
	}
		
	.ui-tabs .ui-tabs-nav .ui-tabs-selected a,
	.ui-tabs .ui-tabs-nav .ui-state-disabled a,
	.ui-tabs .ui-tabs-nav .ui-state-processing a {
		cursor: text;
	}
	
	.ui-tabs .ui-tabs-nav li a,
	.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
		cursor: pointer;
	}
	
	.ui-tabs .tabs-container {
		clear: both;
	}
	
	.ui-tabs .ui-tabs-panel {
		clear: both;
		display: block;
		padding: 20px;
		border: 1px solid #ddd;
		border-bottom: 0;
	}
	
	.ui-tabs .ui-tabs-hide {
		display: none !important;
	}
	
	

/*========================================================

>>> Accordion

========================================================*/
	
	.ui-accordion {
		width: 100%;
		margin-bottom: 50px;
	}
	
	.ui-accordion h1,
	.ui-accordion h2,
	.ui-accordion h3, 
	.ui-accordion h4,
	.ui-accordion h5 {
		color: #525252;
	}
	
	.ui-accordion .ui-accordion-header {
		font-size: 16px;
		height: 40px;
		line-height: 40px;
		cursor: pointer;
		position: relative;
		zoom: 1;
		margin: 0;
		display: block;
		padding: 0 20px;
		margin-bottom: 1px;
		background: #ddd;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
	}
	
	.ui-accordion .ui-accordion-header a {
		font-style: normal !important;
		height: 40px;
		width: 100%;
		display: block;
	}
	
	.ui-accordion .ui-accordion-li-fix {
		display: inline;
	}
	
	.ui-accordion .ui-accordion-header.ui-accordion-header-active,
	.ui-accordion .ui-accordion-header:hover {
		color: #fff !important;
		border-bottom: 0 !important;
	}
	
	.ui-accordion .ui-accordion-header .ui-icon {
		position: absolute;
		left: .5em;
		top: 50%;
		margin-top: -8px;
	}
	
	.ui-accordion .ui-accordion-content {
		border-top: 0;
		position: relative;
		overflow: auto;
		display: none;
		zoom: 1;
		padding: 20px;
	}
	
	.ui-accordion .ui-accordion-content-active {
		display: block;
	}



/*========================================================

>>> Google Map

========================================================*/

	.googlemap {
		padding: 30px;
		margin-bottom: 50px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-bottom: 30px;
		overflow: hidden;
		position: relative;
		background: #f5f5f5;
	}
	
	.googlemap .googlemap_inner {
		padding-bottom: 56.25%;
		position: relative;
	}
	
	.googlemap iframe {
		float: left;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-box-shadow:  0px 1px 7px 0px rgba(00, 00, 00, .2);
	   	box-shadow:  0px 1px 7px 0px rgba(00, 00, 00, .2);
	}
	
	
	
	