/*-------------------------------------------------------------------------------------------*/
/* OptionsFramework Admin Styles */
/*-------------------------------------------------------------------------------------------*/

.updated {
	max-width:764px;
	margin-bottom:0px !important;
}
#optionsframework {
	position:relative;
	z-index: 0;
	max-width:780px;
	background:#fff;
}
#optionsframework p {
	color: #7d8087;
	margin-bottom:0;
	padding-bottom:10px;
}
#optionsframework .section {
	padding:10px 10px 0;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .heading {
	padding:10px 0px;
	margin:0 0 15px;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 100%;
}
#optionsframework .section .explain {
	max-width:100%;
	float: left;
	font-size: 12px;
	line-height:32px;
	color: #777;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .section-color .controls {
	min-width:125px;
	width:125px
}
#optionsframework .controls input, #optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	width: 30px;
	float:left;
	clear:both;
	margin: 10px 0;
}
#optionsframework .controls .of-color {
	float:left;
	width: 80px;
	margin-left:5px;
	margin-right:5px;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;	
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework div.section-background .controls input.upload {
	width:47%;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
	height: 30px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
	margin-right: 10px;
}
#optionsframework .mini .explain {
	max-width:74%;
}
#optionsframework .tiny .controls select, #optionsframework .section .tiny .controls {
	width: 60px;
}
#optionsframework .tiny .controls input, #optionsframework .tiny .controls {
	min-width: 60px;
	width: 60px;
}
/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
	margin: 0;
	float: left;
}
#optionsframework .controls input.upload_button {
	float:right;
	width:84px;
	border-color:#BBBBBB;
	cursor:pointer;
	height:24px;
}
#optionsframework .controls input.upload_button:hover {
	border-color:#666666;
	color:#000;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	max-width:100%;
	margin-top:3px;
	background: #333;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow:  0px 1px 7px 0px rgba(00, 00, 00, .2);
		   	box-shadow:  0px 1px 7px 0px rgba(00, 00, 00, .2);
}
#optionsframework .screenshot img {
	float:left;
	max-width:96%;
	padding: 2%;
}
#optionsframework .screenshot .mlu_remove {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:5px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .mlu_remove {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ECECEC;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
#optionsframework-submit-2 {
	height: 60px;
	float: right;
	padding: 25px 30px 0 0;
}
#optionsframework-submit-2 input {
	font-family: "Myriad Pro", Helvetica, sans-serif;
	text-transform: uppercase;
	height: 30px;
	line-height: 30px;
	outline: none;
	padding: 0 12px;
	margin-left: 10px;
	float: left;
}
#optionsframework-submit-2 .reset-button {
	border: none !important;
	color: #ccc;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #eee;
}
#optionsframework-submit-2 .reset-button:hover {
	color: #fff;
	background: #ff4343;
}
#optionsframework .button-primary {
	float:right;
}

/* add by Shorti */

@media only screen and (min-width : 1120px) {

	.wrap {
		width: 790px;
		margin: 0 auto;
	}
	.inner-wrap {
		margin-left: -72px;
	}

}
#logo {
	width: 312px;
	margin: 20px auto 40px auto;
	display: block;
	float: none;
}
#wpbody-content .metabox-holder {
	padding-top: 0;
}
#optionsframework {
	border-top: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#optionsframework h1,
#optionsframework h2,
#optionsframework h3,
#optionsframework h4,
#optionsframework h5,
#optionsframework h6,
.nav-tab-wrapper a {
	color: #454953;
	font-family: "Myriad Pro", Helvetica, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}
#optionsframework .section {
	padding: 30px;
	padding-bottom: 20px;
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf;
}
#optionsframework .section .heading {
	width: 20%;
	float: left;
	margin-bottom: 0;
}
#optionsframework .section .option {
	width: 80%;
	float: right;
}
#optionsframework .group > h2 {
	font-weight: bold;
	padding: 30px;
	border-bottom: 1px solid #dfdfdf;
}
.nav-tab-wrapper {
	max-width: 722px;
	height: 34px;
	padding: 0 30px;
}
.nav-tab-wrapper ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.nav-tab-wrapper ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0 8px 0 0;
	padding: 0;
	position: relative;
	background: url(../images/nav-shad.png) bottom left repeat-x;
}
.nav-tab-wrapper ul li a {
	color: #cbcdd2;
	font-size: 14px;
	padding: 10px 18px;
	margin: 0;
}
.nav-tab-wrapper ul li .nav-tab-active {
	/*font-size: 16px;*/
	color: #454953;
	/*padding: 10px 20px;
	margin-top: 0;*/
}
.nav-tab-wrapper ul li a:hover {
	color: #454953;
}
#optionsframework textarea,
#optionsframework input[type=text] {
	line-height: 1.6em;
}
#optionsframework textarea {
	padding: 10px;
}
#optionsframework input[type=text] {
	padding: 5px;
}
#optionsframework .controls input.upload_button {
	height: 32px;
	line-height: 30px;
	margin-right: 0;
}
#optionsframework .section .heading {
	font-weight: bold;
}
#top {
	width: 782px;
	overflow: hidden;
	margin: 35px 0 0 0;
}
#top #main_title {
	width: 100%;
	color: #454953;
	font-weight: bold;
	font-size: 36px;
	letter-spacing: -3px;
	line-height: 1;
	text-transform: uppercase;
	text-align: center;
	display: block;
	padding-bottom: 15px;
	margin: 0;
}
#logo_img_image {
	width: 92%;
	overflow: hidden;
	padding: 4%;
	margin-top: 10px;
	clear: both;
	display: block;
	background: #3d3d3d;
}
wrapper ul li a span {
	display: none;
}
.nav-tab-wrapper .current span {
	display: block;
	width: 98%;
	height: 10px;
	position: absolute;
	bottom: -1px;
	margin: 0 1px;
	background: #fff;
	z-index: 10000;
}