/*-----------------------------------------------------------------------------------
iPhone
-----------------------------------------------------------------------------------*/

@media only screen and (max-width:750px) {
	
	/* Header */
	
	header {
		width: 300px;
	}

	header .logo h1{
		width: 300px;
		margin: 0 auto 30px auto!important;
		text-align: center;
	}
	
	header nav {
		width:  100%;
		padding: 0;
		float: left;
		text-align: center;
	}
	
	header nav ul li a {
		padding: 0;
	}
		
	/* Sidebar */
	
	#sidebar {
		width: 100%;
		margin-top: 60px;
	}
	
	.tj_flickr_widget .flickrwidget .flickrwidget-inner,
	.tj_recent_portfolios_widget {
		margin-right: 0;
	}
	
	/* Footer */
	
	.footer-inner {
		width: 300px;
	}
	
	/* Footer - Left / Right */
	
	.footer-left,
	.footer-right {
		width:100%;
		text-align: center;
		float: none;
		clear: both;
	}
	
	/* Footer - Menu */
	
	#footer nav {
		float: none;
	}
	
	#footer nav ul li {
		float: none;
		display: inline-block;
	}
	
	#footer nav ul li a {
		padding: 0;
	}

	/* Reset Containers */
	
	#content {
		width: 300px;
	}
	
	#primary {
		width: 300px;
		border: none;
	}
	
	/* Reset Seperator */
	
	.seperator {
		width: 220px;
	}
	
	/* Homepage Template - Welcome Message */
	
	.fullwidth {
		min-height: auto!important;
	}
	
	.home-message {
		width: 280px
	}
	
	/* Homepage Template - Projects */
	
	.home-caption {
		width: 280px
	}
	
	.home-projects {
		width: 300px;
		padding-left: 20px;
	}
	
	.home-projects article {
		width: 300px;
		height: 300px;
		clear: both;
	}
	
	.home-projects .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 280px;
		height: 280px;
	}
	
	.home-projects .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.home-projects .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.home-projects .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.home-projects .fade .mosaic-overlay {
		width: 240px;
		height: 240px;
	}
	
	/* Homepage Template - Featured Pages */
	
	.home-posts {
		width: 300px;
		padding-left: 20px;
	}
	
	.home-posts article {
		width: 280px;
	}
	
	.home-posts .blog-hero {
		width: 205px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* Blog Posts */
	
	.blog #content,
	.single #content,
	.blog #primary,
	.single #primary  {
		width: 280px;
		margin-right: auto;
		margin-right: auto;
	}
	
	article.post,
	.post .entry-content,
	.commentlist {
		width: 280px;
	}
	
	.format-video div.jp-interface,
	.format-audio div.jp-interface {
		width: 87%;
	}
	
	.format-video .jp-jplayer, 
	.format-audio .jp-jplayer {
		min-height: auto;
	}
	
	.jp-progress {
		width: 46%;
	}
	
	.bypostauthor { 
		display: none;
	}
	
	/* Comments */
		
	.commentlist .depth-1,
	.commentlist .depth-2,
	.commentlist .depth-3,
	.commentlist .depth-4,
	.commentlist .depth-5,
	.commentlist .depth-6,
	.commentlist .depth-7 {
		margin-left: 0;
		width: 280px;
	}
	
	img.avatar {
		display: none;
	}
	
	#respond form {
		width: 280px;
	}
	
	#respond input[type="text"],
	#respond input[type="email"],
	#respond input[type="url"],
	#respond textarea {
		width: 87%;
	}
	
	/* Page */
	
	.page #content,
	.single #content,
	.page #primary,
	.single #primary  {
		width: 280px;
		margin-right: auto;
		margin-right: auto;
	}

	#primary article.page {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	/* Page - Contact */
	
	#contact {
		max-width: 93%;
		margin-bottom: 0;
	}
	
	/* Page - Full Width */
	
	.page-template-template-full-width-php #primary {
		width: 300px;
	}
	
	/* Portfolio / Portfolio Taxonomy */
	
	.page-template-template-portfolio-paginated-php #content,
	.tax-portfolio-type #content {
		width: 280px;
		padding-left: 0;
	}

	.tj_portfolio_welcome,
	.portfolio-taxonomy-term {
		max-width: 300px;
	}
	
	.portfolio-paginated,
	.portfolio-taxonomy-term {
		max-width: 300px;
	}
	
	.portfolio-paginated article,
	.portfolio-taxonomy article {
		width: 280px;
		height: 300px;
	}
	
	.portfolio-paginated .mosaic-block,
	.portfolio-taxonomy .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 280px;
		height: 300px;
	}
	
	.portfolio-paginated .mosaic-backdrop
	.portfolio-taxonomy .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.portfolio-paginated .mosaic-overlay,
	.portfolio-taxonomy .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.portfolio-paginated .details,
	.portfolio-taxonomy .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.portfolio-paginated .fade .mosaic-overlay, 
	.portfolio-taxonomy .fade .mosaic-overlay {
		width: 240px;
		height: 240px;
	}
	
	.portfolio-paginated .pagination-default {
		float: left;
		margin: 10px 0 40px 0;
	}
	
	/* Single Portfolio */
	
	.single-portfolio #primary {
		width: 280px;
	}
	
	.single-portfolio .entry-content {
		width: 280px;
	}
	
	/* Single Portfolio - Releated Items */
	
	.portfolio-related {
		width: 300px;
		margin: 40px 0;
	}
	
	.portfolio-related-title {
		width: 280px;
	}
	
	.portfolio-related article {
		width: 280px;
		height: 280px;
	}
	
	.portfolio-related .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 280px;
		height: 280px;
	}
	
	.portfolio-related .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.portfolio-related .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.portfolio-related .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.portfolio-related .fade .mosaic-overlay {
		width: 240px;
		height: 240px;
	}
	
	/* Flexslider */
	
	.flexslider {
		min-height: auto;
	}
	
}

/*-----------------------------------------------------------------------------------
iPad
-----------------------------------------------------------------------------------*/

@media screen and (min-width:751px) and (max-width:970px) {
	
	/* Header */
	
	header {
		width: 680px;
	}

	header .logo h1{
		width: 680px;
		margin: 0 auto 30px auto!important;
		text-align: center;
	}
	
	header nav {
		width:  100%;
		padding: 0;
		float: left;
		text-align: center;
	}
	
	header nav ul ul li {
		text-align: left;
	}
	
	/* Sidebar */
	
	#sidebar {
		width: 100%;
	}
	
	/* Footer */
	
	.footer-inner {
		width: 680px;
	}
	
	/* Reset Containers */
	
	#content {
		width: 680px;
	}
	
	#primary {
		width: 680px;
		border: none;
	}
	
	/* Homepage Template - Welcome Message */
	
	.fullwidth {
		min-height: 400px!important;
	}
	
	.home-message {
		width: 680px;
	}
	
	/* Homepage Template - Projects */
	
	.home-caption {
		width: 660px;
	}
	
	.home-projects {
		width: 680px;
		padding-left: 20px;
	}
	
	.home-projects article {
		width: 320px;
		height: 320px;
	}
	
	.home-projects .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 320px;
		height: 320px;
	}
	
	.home-projects .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.home-projects .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.home-projects .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.home-projects .fade .mosaic-overlay {
		width: 280px;
		height: 280px;
	}
	
	/* Homepage Template - Featured Pages */
	
	.home-posts {
		width: 680px;
		padding-left: 20px;
	}
	
	.home-posts article {
		width: 205px;
	}
	
	/* Blog Posts */
	
	article.post,
	.post .entry-content,
	.commentlist {
		width: 680px;
	}
	
	.bypostauthor { 
		max-width: 100%;
	}

	/* Page */

	#primary article.page {
		max-width: 680px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	/* Page - Full Width */
	
	.page-template-template-full-width-php #primary {
		width: 680px;
	}
	
	/* Portfolio / Portfolio Taxonomy */
	
	.page-template-template-portfolio-paginated-php #content,
	.tax-portfolio-type #content {
		width: 680px;
	}
	
	.tax-portfolio-type #content {
		padding-left: 20px;
	}
	
	.tj_portfolio_welcome,
	.portfolio-taxonomy-term {
		max-width: 660px;
	}
	
	.portfolio-paginated,
	.portfolio-taxonomy-term {
		width: 680px;
		padding-left: 20px;
	}
	
	.portfolio-paginated article,
	.portfolio-taxonomy article {
		width: 320px;
		height: 320px;
	}
	
	.portfolio-paginated .mosaic-block,
	.portfolio-taxonomy .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 320px;
		height: 320px;
	}
	
	.portfolio-paginated .mosaic-backdrop
	.portfolio-taxonomy .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.portfolio-paginated .mosaic-overlay,
	.portfolio-taxonomy .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.portfolio-paginated .details,
	.portfolio-taxonomy .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.portfolio-paginated .fade .mosaic-overlay, 
	.portfolio-taxonomy .fade .mosaic-overlay {
		width: 280px;
		height: 280px;
	}
	
	/* Single Portfolio */
	
	.single-portfolio #primary {
		width: 680px;
	}
	
	/* Single Portfolio - Releated Items */
	
	.portfolio-related {
		width: 680px;
	}
	
	.portfolio-related article {
		width: 320px;
		height: 320px;
	}
	
	.portfolio-related .mosaic-block {
		float: left;
		position: relative;
		overflow: hidden;
		width: 320px;
		height: 320px;
	}
	
	.portfolio-related .mosaic-backdrop {
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
	}
		
	.portfolio-related .mosaic-overlay {
		display: none;
		z-index: 5;
		position: absolute;
		width: 100%;
		height: 100%;
		text-decoration: none;
		border: none;
	}
	
	.portfolio-related .details {
		margin: 50% 0 0 0;
		text-align: center;
	}
	
	.portfolio-related .fade .mosaic-overlay {
		width: 280px;
		height: 280px;
	}
	
	/* Flexslider */
	
	.flexslider {
		min-height: auto;
	}
	
}